.usageChart {
  height: 200px;
  width: 90%;
  margin:auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 45%;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #FFF;
  background: url('/console/img/blacktocat.png') #0090FF no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.empty {
  padding: 8em;
}

.log .timestamp {
  width: 14em;
}

.log {
  overflow: auto;
  height: 10.6em;
}

.log {
  padding: 0;
}

.log-meta button {
  margin-bottom:0;
  margin-top: -5px;
}

.repometa {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.repometa h3 {
  margin-top: 0;
}

.dataselect {
  margin-top: 1em;
}

.newrepo {
  padding-top: 1em;
}

table.datainstances {
  border-collapse: collapse;
  margin: 5px 0 5px 0;
}

.datainstances th {
  padding: 3px 15px 0 0;
  text-align: left;
  font-weight: normal;
}

.datainstances td {
  padding: 3px 15px 0 0;
  text-align: center;
}

.serverstats .panel-body {
  text-align:center;
  font-size:2em;
  color:#666;
  height:70px;
}

.serverstats .glyphicon {
  margin-right: 0.5em;
  float:right;
  color: #666;
}

.serverstats .smaller {
  font-size: 1em;
}

.serverstats small {
  font-size: 0.5em;
}

/*** tileviewer styling ***/

.openseadragon, .data-missing {
  background: #000;
  width:800px;
  height:800px;
  margin: 0.3em 0;
}

.data-missing {
  padding-top:45%;
  text-align:center;
  color:#fff;
}

.subtle {
  color:#999;
}

.btn {
  margin: 0 0.3em 0.3em 0;
}

.cut_plane {
  margin-top: -4px;
}

#slider-container {
  width: 750px;
}

#depth {
  width: 70px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

#volume_viewer {
  position: absolute;
  height: 535px;
  width: 535px;
  background: #000;
  z-index: 3;
  border: 1px solid #FF0;
  color: #FF0;
}

.closelink {
  float:right;
}

.bodymeta {
  float: left;
}

/*** end tileviewer ***/


/* Overrides of bootstrap */

.label {
  background-color: #666666;
  color: #fff;
}

.lbl-grayscale8 {
  background-color: #666699;
  color: #fff;
}
.lbl-imagetile {
  background-color: #006400;
  color: #fff;
}
.lbl-keyvalue {
  background-color: #993300;
  color: #fff;
}
.lbl-labelblk {
  background-color: #202f9f;
  color: #fff;
}
.lbl-labelgraph {
  background-color: #339999;
  color: #fff;
}
.lbl-labelmap {
  background-color: #330066;
  color: #fff;
}
.lbl-labelvol {
  background-color: #daa520;
  color: #fff;
}
.lbl-labels64 {
  background-color: #3333cc;
  color: #fff;
}
.lbl-multiscale2d {
  background-color: #9933cc;
  color: #fff;
}
.lbl-rgba8 {
  background-color: #660066;
  color: #fff;
}
.lbl-roi {
  background-color: #46b933;
  color: #fff;
}
.lbl-uint8blk {
  background-color: #ff6722;
  color: #fff;
}

/* dagre-d3 */

.dag div {
  width:90%;
  border: 1px solid #ccc;
  margin: auto;
}
.dag {
  text-align: center;
}

svg {
  overflow: scroll;
}

g.type-locked > rect {
  stroke: black;
  stroke-width: 3px;
}

g.collapsed > rect {
  fill: #6699FF;
}

g.expanded > rect {
  fill: #99CCFF;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 10pt;
  pointer-events: none;
}

.node > rect {
  stroke: #000;
  stroke-width: 1.5px;
  fill: #fff;
  cursor: pointer;
}

.edgePath {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
  cursor: pointer;
}
.node, .edgePath:focus {
    outline: none;
}
