.usageChart {
  height: 200px;
  width: 400px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 8em;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #FFF;
  background: url('/console/img/blacktocat.png') #0090FF no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
