/* dvid-lite specific styles */
.navbar-default {
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
    border-radius: 0px;
    border: 0px;
}

.navbar-default select{
    min-width: 300px;

}

.navbar-default .btn-default{
    color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0.125);
    border-color: rgba(255,255,255,0.08);
    margin-left: .5em;
    margin-top: .3em;
}

.navbar-default .btn-default:hover{
    background-color: rgba(255,255,255,0.15);
}

.navbar-default .navbar-form {
    border-color: none;
}

.navbar-default .form-control {
    border: 0px;
    background-color: rgba(255,255,255,0.125);
    color: rgba(255,255,255,0.75);
    margin-left: .5em;
}

.diced-data-source label{
    margin-left: .5em;
}

.text-muted {
    color: rgba(119, 119, 119, 0.41);
}

.lite-padding {
    padding: 40px;
}

.repo-title h4{
    display:inline;
}

.repo-title{
    margin-bottom: 8px;
}

.RepoTabs li:first-of-type{
    padding-left:40px;
}

.data-footer{
    padding-bottom: 12px;
    margin-top: -10px;
}

.dag div{
    border-radius: 3px;
}

#dag-header{
    width: 90%;
    margin: auto;
}

button {
    cursor:pointer;
}

span.branch{
    cursor:pointer;
}
span.unlocked{
    cursor:pointer;
}

#repoAddBtn {
    margin-top: 15px;
}

.repo-summary .info{
    padding-top: 10px;
}

.main-help{
    position: relative;
}

.main-help .copy-btn{
    right: 0px;
    top: 5px;
}

.popover{
    min-width: 400px;
}
.DICEDHelp-container{
    display: inline;
}
.data-badge-container{
    display: inline;
    margin-left: 2px;
}
.copy-btn{
    position: absolute;
    right: 15px;
    top: 45px;
}

.extents{
    cursor: pointer;
}

.data-icon{
    color: #6b97b8
}

.fixed_alert{
    top:5em;
}

.repo-summary{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}