<!-- Prefer ng-bind properties to double curly brace expressions since this view might be rendered before any
     javascript is run. -->

<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            Dashboard
        </li>
    </ul>
</div>

<div class="sortable row-fluid">
    <div data-rel="tooltip" title="cores" class="well span3 top-block">
        <div class="header">DVID CPU Cores</div>
        <div class="data">
            Hardware CPU Cores: {{ server.info["Maximum Cores"] }}
        </div>
        <span class="notification green" ng-bind="server.info.Cores"></span>
    </div>

    <div data-rel="tooltip" title="repos" class="well span3 top-block">
        <div class="header">Repos</div>
        <div class="data">
            Version Nodes: {{ numVersions }}
        </div>
        <span class="notification green" ng-bind="numRepos"></span>
    </div>

    <div data-rel="tooltip" title="server uptime" class="well span3 top-block">
        <div class="header">Server Uptime</div>
        <div class="data">
            {{ server.uptime }}
        </div>
        <span class="notification green" ng-bind="server.updays"></span>
    </div>

    <a data-rel="tooltip" title="open" class="well span3 top-block" href="#">
        <span class="icon32 icon-sitemap"></span>
        <div>Open Nodes</div>
        <div ng-bind="num_open"></div>
        <span class="notification green" ng-bind="nodeStats.unlocked"></span>
    </a>
</div>

<div class="row-fluid sortable">
    <div class="box span6" ng-controller="DatasetInfoController">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-sitemap"></i> Repositories in Server</h2>
            <div class="box-icon">
                <button ng-click="minimize()" class="btn btn-minimize btn-round">
                    <i class="icon-chevron-up" ng-show="maximized"></i>
                    <i class="icon-chevron-down" ng-hide="maximized"></i>
                </button>
            </div>
        </div>
        <div class="box-content" ng-show="maximized">
            <div class="box-content">
                <ul class="dashboard-list">
                    <li ng-repeat="dataset in datasets">
                        <strong>Alias:</strong> {{ dataset.Alias }}<br />
                        <strong>Description:</strong> {{ dataset.Description }}<br />
                        <strong>UUID:</strong> <a href="#">{{ dataset.Root }}</a><br />
                        <strong>Updated:</strong> {{ dataset.updatedStr }}<br />
                        <strong>Created:</strong> {{ dataset.createdStr }}<br />
                        <br />
                        <!--
                        <span class="label label-important" ng-show="version.Locked">Locked</span>
                        <span class="label label-success" ng-hide="version.Locked">Open</span> -->
                            <div ng-repeat="instance in dataset.DataInstances">
                                <em>{{ instance.Base.Name }}</em>
                                <span class="label label-important">{{ instance.Base.TypeName }}</span>
                            </div>
                        <br />
                    </li>
                </ul>
            </div>
        </div>
    </div><!--/span-->

    <div class="box span6" ng-controller="MonitorController">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-list-alt"></i> Server Monitoring</h2>
            <div class="box-icon">
                <button ng-click="minimize()" class="btn btn-minimize btn-round">
                    <i class="icon-chevron-up" ng-show="maximized"></i>
                    <i class="icon-chevron-down" ng-hide="maximized"></i>
                </button>
                <button ng-click="setting()" class="btn btn-setting btn-round">
                    <i class="icon-cog"></i>
                </button>
                <button ng-click="close()" class="btn btn-close btn-round">
                    <i class="icon-remove"></i>
                </button>
            </div>
        </div>
        <div class="box-content" ng-show="maximized">
            <div id="realtimechart" style="height:190px;"></div>
        </div>
    </div><!--/span-->
</div>
<div class="row-fluid sortable">
    <div class="box span6" ng-controller="ComponentsInfoController">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-info-sign"></i> DVID Components</h2>
            <div class="box-icon">
                <button ng-click="toggleSize()" class="btn btn-minimize btn-round">
                    <i class="icon-chevron-up" ng-show="maximized"></i>
                    <i class="icon-chevron-down" ng-hide="maximized"></i>
                </button>
            </div>
        </div>
        <div class="box-content" ng-show="maximized">
            <div class="box-content">
                <strong>Server Configuration:</strong><br />
                <ul>
                <li ng-repeat="(key, value) in server.info">
                    <em>{{ key }}:</em> {{ value }}
                </li>
                </ul>
                <strong>Server Data Types:</strong><br />
                <ul>
                 <li ng-repeat="(key, value) in server.datatypes">
                    <em>{{ key }}:</em> {{ value }}
                </li>
                </ul>
            </div>
        </div>
    </div><!--/span-->

</div>
<div class="row-fluid sortable">

</div><!--/row-->